<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bookstore.dao.UserDao">

    <resultMap id="UserResult" type="org.bookstore.dto.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="TINYINT"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="login_failed" property="loginFailed" jdbcType="TINYINT"/>
        <result column="bank_card" property="bankCard" jdbcType="VARCHAR"/>
        <result column="payment_password" property="paymentPassword" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password_question" property="passwordQuestion" jdbcType="VARCHAR"/>
        <result column="answer" property="answer" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="userRegister" parameterType="org.bookstore.dto.User">
        insert ignore into
          user (
            username,
            password,
            role
            )
        values (
            #{ username },
            #{ password },
            #{ role })
    </insert>

    <select id="queryUser" parameterType="org.bookstore.dto.User" resultMap="UserResult">
        select *
        from user
        <where>
            <if test="username != null">
                username = #{ username }
            </if>
            <if test="nickname != null">
                and nickname = #{ nickname }
            </if>
            <if test="name != null">
                and name = #{ name }
            </if>
        </where>
    </select>

    <update id="perfectedInfo" parameterType="org.bookstore.dto.User">
        update user
        <set>
            <if test="nickname != null">
                nickname = #{ nickname },
            </if>
            <if test="bankCard != null">
                bank_card = #{ bankCard},
            </if>
            <if test="paymentPassword != null">
                payment_password = #{ paymentPassword },
            </if>
            <if test="name != null">
                name = #{ name },
            </if>
            <if test="email != null">
                email = #{ email },
            </if>
            <if test="passwordQuestion != null">
                password_question = #{ passwordQuestion },
            </if>
            <if test="answer != null">
                answer = #{ answer },
            </if>
        </set>
        <where>
            user_id = #{ userId }
        </where>
    </update>

    <update id="increaseTimes" parameterType="java.lang.Integer">
        update user
        <set>
            login_failed = login_failed + 1
        </set>
        <where>
            user_id = #{ userId }
        </where>
    </update>

    <update id="lockUser" parameterType="java.lang.Integer">
        update user
        <set>
            status = -1
        </set>
        <where>
            user_id = #{ userId }
        </where>
    </update>

    <update id="unlockedUser" parameterType="java.lang.Integer">
        update user
        <set>
            login_failed = 0,
            status = 1
        </set>
        <where>
            user_id = #{ userId }
        </where>
    </update>

    <delete id="delUser" parameterType="java.lang.Integer">
        delete from user
        <where>
            user_id = #{ userId }
        </where>
    </delete>

</mapper>